
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  font-family: verdana;
  color: #ffffff; /*3b3b3b*/
}
.comment .comment-arrow {
  border-color: #ffffff;
}

#main-menu-links li a.active,
#main-menu-links li.active-trail a {
 background-color: rgba(115,156,159, 1);
 /*background: rgba(190,210,255,1);*/
}


.tabs ul.primary li a.active {
  background: rgba(115,156,159, 1);
}
.tabs ul.primary li.active a {
  background: rgba(115,156,159, 1);
  border-bottom: 0px solid #ffffff;
}
#header {
  background-color: #1d84c3;
  background-image: -webkit-linear-gradient(top, #055a8e 0%, #1d84c3 100%);
  background-image: linear-gradient(to bottom, #055a8e 0%, #1d84c3 100%);
}
a {
  color: #bed2ff; /*0071B3*/
  }
a:hover,
a:focus {
  color: #bed2ff; /*018fe2*/
}
a:active {
  color: #bed2ff; /*23aeff*/
}
.sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}
#page-wrapper,
#footer-wrapper {
  /*background: #292929;*/
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #fffeff;
}
